<div class="col s3">
  <div class="card" appHover>
    <div class="card-image">
      <img src={{user.picture.large}}>
      <span class="card-title"
        [ngClass]="{'marked': isMarked}"
      >{{user.name.first | uppercase}}</span>
    </div>
    <div class="card-content">
      <p>{{user.location.street}}</p>
      <p>{{user.location.city}}</p>
      <p>{{user.location.state}}</p>
    </div>
    <div class="card-action">
      <a (click)="mark()"
        class="waves-effect waves-light btn">Отметить</a>
    </div>
  </div>
</div>
