
<div class="row">
  <div class="input-field col s4">
    <input id="first_name" class="validate" [(ngModel)]="searchStr">
    <label class="active" for="first_name">First Name</label>
  </div>
</div>

<div class="row">
  <app-user
    *ngFor="let u of users | search:searchStr"
    [user]="u"
  ></app-user>
</div>
